.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding: 24px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
  }
}

.header > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .header > div:nth-child(2) {
    flex: 1;
    padding: 0;
  }
}

.header > div:nth-child(2) > a:hover, .header > div:nth-child(2) > a:active {
  color: var(--color-text-accent);
}

.header > div:last-child {
  background: var(--color-secondary);
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  .header > div:last-child {
    flex: 0.75;
  }
}

.header > div:last-child:focus-within {
  border: 1px solid var(--color-text-accent);
}

.header > div:last-child > input {
  caret-color: var(--color-text-accent);
}

.header > div:last-child i {
  color: var(--color-text-accent);
}

.header > div:last-child > button > i {
  width: 16px;
}
