.page {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: max-content;
  row-gap: 32px;
}

@media (min-width: 768px) {
  .page {
    grid-template-columns: auto auto;
  }

  .page > article:nth-child(even) {
    margin-left: 32px;
  }
}

main:has(.page) {
  margin: 32px;
}

@media (min-width: 768px) {
  main:has(.page) {
    margin: 32px 8%;
  }
}
