.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 24px;
}

@media (min-width: 768px) {
  .navbar {
    align-items: normal;
  }
}

.navbar > div:not(:first-child) {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@media (min-width: 768px) {
  .navbar > div:not(:first-child) {
    flex: 1;
  }
}

.navbar > div > ul {
  font-size: 0.875rem;
}

.navbar > div > ul > li {
  margin: 4px;
}

.navbar > div > ul > li > button {
  width: 100%;
  padding: 8px;
}

.navbar > form {
  align-self: center;
}
